<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
    <div>
        <div style="text-align: center;">
             <h1>LOGIN</h1>
        </div>
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
        </div>
        <div style="padding-top: 10px;">
            <a href="{{url_for('public.register')}}">Register</a>
        </div>
    </div>
</body>
</html>