# Everything needed in production

# Flask
click>=7.0
Flask==2.3.3
Werkzeug==2.3.7

# Database
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.28

# Migrations
Flask-Migrate==4.0.5

# Forms
email-validator==2.1.1
Flask-WTF==1.2.1
WTForms==3.1.2

# Deployment
gevent==24.2.1
gunicorn>=19.9.0

# Flask Static Digest
Flask-Static-Digest==0.4.0

# Auth
Flask-Bcrypt==1.0.1

# Caching
Flask-Caching>=2.0.2

# Debug toolbar
Flask-DebugToolbar==0.14.1

# Environment variable parsing
environs==11.0.0

# Everything for prediction
opencv-python==4.9.0.80
ultralytics==8.1.24

# Everything the developer needs in addition to the production requirements
-r prod.txt

# Testing
factory-boy==3.3.0
pytest==8.1.0
pytest-cov==4.1.0
WebTest==3.0.0

# Lint and code style
black==24.2.0
flake8-blind-except==0.2.1
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-isort==6.1.1
flake8==7.0.0
isort==5.13.2
pep8-naming==0.13.3
